<h1>Cocktails#show</h1>
<!-- <p>Find me in app/views/cocktails/show.html.erb</p> -->

<h2><%= @cocktail.name %></h2>

<div><%= link_to 'cocktails', cocktails_path %></div>

<h4>Composition</h4>
<% @cocktail.doses.each do |dose| %>
<li class="list-group-item">
<p><%= dose.description %> <%= dose.ingredient.name %></p>
<%= link_to 'Supprimer la dose', dose_path(dose), method: :delete %>
</li>
<% end %>

<div><%= link_to 'Ajouter une nouvelle dose', new_cocktail_dose_path(@cocktail) %></div>

<div><%= link_to 'Supprimer le cocktail', cocktail_path(@cocktail), method: :delete %></div>
